<html>
<head>
  <title>DBC Campuses</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <h1>Campuses</h1>
  <ul>
    <% @campuses.each do |campus| %>
      <li><%= campus['campus'] %></li>
    <% end %>
  </ul>
</body>
</html>